{% extends 'base.html' %}

{% block content %}
{{test_index}}
<br>
    <h1 class="text-center">The Council of Fools</h1>	

	<div id='test_data_chart' class='chart'></div>

	<script>
		var prediction_arr = "{{test_predict}}";
		prediction_arr = JSON.parse(prediction_arr);
		var test_data=[1, 86, 168, 281, 303, 365];

		// Chart test here:
		d3.select(".chart")
		  .selectAll("div")
		  .data(prediction_arr)
		  .enter()
		  .append("div")
		  .style("width", function(d) {return d*100 + "px"; })
		  .text(function(d) {return d; });

		
	</script>

{% endblock %}

